.container{
    position: absolute;
    top: 50%;
    left: 44%;
   width: 100vh !important;
}
@media (max-width:767px) {
    .container{
        left: 25%;
        top: 47%;
    }
}
body{
        background-color: gray;
}
